.container{
    max-width: 122rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.p-1{
    color: $color-secondary;
    line-height:200%;
    font-size: 20px;
}

.signup-btn{
    background-color: red;
    padding: 1rem 2rem;
    border-radius: 70rem;
}