
*,
*::after,
*::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // This defines what 1rem is 
  font-size: 62.5%;

 

//   @include respond(tab-land) {  //width < 1200 ?
//     font-size: 56.25%;
//   };

//   @include respond(tab-port) {   //width < 900 ?
//     font-size: 50%;
//   };

 

//   @include respond(big-desktop) {
//     font-size: 75%;
//   };
 
}

body {
  box-sizing: border-box;
  font-family: 'Hind Madurai', sans-serif;

  @include respond(tab-port) { 
    padding: 0;
  };

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

// ::selection {
//   background-color: $color-primary;
// color: $color-white;
// }
